body {
    width: auto;
    background-color: rgb(240, 208, 133);
}

.room-card {
    float: left;
    width: 300px;
    border-radius: 16px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    margin: 32px;
    padding: 16px 32px;
    background-color: ivory;
}

label {
    display: block;
}

.own-room{
    background-color: rgb(94, 130, 197);
}